<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ymnik_new_block" frontName="super_vacuum">
            <module name="Ymnik_NewBlock" />
        </route>
    </router>
</config>


        <?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
<router id="standard">
    <route id="roman" frontName="module">
        <module name="Roman_Recommend" />
    </route>
</router>
</config>